*{
  margin: 0 auto;
  padding:0;
  box-sizing: border-box;
  font-family:Verdana, Arial, san-serif;
}
@font-face{
	font-family:"Montserrat";
	src:url("asset/font/MontserratAlternates-Medium.eot")format("eot"),
	url("asset/font/MontserratAlternates-Medium.svg")format("svg"),
	url("asset/font/MontserratAlternates-Medium.woff")format("woff");
}
@font-face{
	font-family:"NunitoSans";
	src:url("asset/font/NunitoSans-Regular.eot")format("eot"),
	url("asset/font/NunitoSans-Regular.svg")format("svg"),
	url("asset/font/NunitoSans-Regular.woff")format("woff");
}
a:hover{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	font-family:"Montserrat";
}
p{
	font-family:"NunitoSans";
}
section{
	overflow:hidden;
	clear:both;
}
header.header-bg{
	background-image:url(asset/img/myself.jpg);
	background-position: left center;
	background-repeat: repeat;
	background-size: 100% 100%;
	min-height:670px;

}
article.bg-content{
	padding:150px 0;
}
.bg-content .d-class{
	font-size:28px;
}
strong{
	color:#343a40;
	font-family:"NunitoSans";
	font-weight: bolder;
}
article.bg-content h2{
	color:#323232;
	font-size:48px;
	font-family:"Montserrat";
}
article.bg-content p{
	font-size:16px;
	color:#343a40;
}
.double-button a{ 
	font-family:"NunitoSans";
}
.double-button a.about-class{
	background: #00b894;
	font-size: 14px;
	color: #fff;
	padding: 13px 25px;
	
}
.double-button a.cv-class{
	background: #323232;
	font-size: 14px;
	color: #fff;
	padding: 13px 25px;
	
}

.navbar-light .navbar-nav .nav-link{
	color:#323232;
	font-size:16px;
	font-family:"NunitoSans";
}
.dropdown-menu{
	background-color:#323232;
	font-family:"NunitoSans";
	border-radius:0;
}
.dropdown-item{
	color:#fff;
}
.dropdown-item:focus, .dropdown-item:hover{
	background: #00b894;
	color:#fff;
}
.navbar-light .navbar-nav .contact-class{
	background-color:#00b894;
	color:#fff;
	font-weight:bold;
	padding:10px 20px;
}

#about-me .about-title h2{
	font-size:22px;
	color:#323232;
	font-family:"NunitoSans";
}
#about-me .about-title h2:after{
	content:"";
	display:block;
	width:65px;
	height:4px;
	background:#00b894;
}
#about-me .about-header h2{
	font-family:"Montserrat";
	font-size:27px;
}
#about-me .about-header p{
	font-family:"NunitoSans";
	font-size:14px;
}
#service{
	background-color:#f5f6fb;
	padding:80px 0;
}
#service .service-header h2{
	margin-bottom:40px; 
	font-size:35px;
	font-family:"Montserrat";
}
.service-column-area{
  padding: 50px 40px 55px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.1);
  box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.1);
  text-align: center; 
}
.service-heading h2{
	font-family:"Montserrat";
	font-size:20px;
	text-align:center;
}
.service-content p{
	font-size:15px;
	font-family:NunitoSans;
}
.service-block .service-column-area i{
	text-align:center;
	font-size:42px;
	display:block;
	padding:17px 0;
}

#service .btn{
	border-radius:0;
	padding: 7px 30px;
	font-family:"Montserrat";
}
#portfolio_service h2{
	margin-top:35px;
}
#portfolio_service .ptf-menu-mixtup ul{
	overflow:hidden;
}
#portfolio_service .ptf-menu-mixtup ul li{
	list-style:none;
	float:left;
	padding:10px 15px;
}
#portfolio_service .ptf-menu-mixtup ul li:first-child{
	padding-left:0;
}
#portfolio_service .ptf-menu-mixtup ul li a{
	font-size:14px;
	color:#707070;
}
#portfolio_service .ptf-menu-mixtup ul li a:hover{
	color:#00b894;
}
#prossioal_ac{
	background-color:#00b894;
}
#prossioal_ac .p_ac_clmn p{
	font-family:"Montserrat";
	font-size:14px;
}
#client_feedback_area .blockquote{
	background-image:url(asset/img/blockquote.jpg);
	height: 35px;
	background-repeat: no-repeat;
}
#client_feedback_area .c_f_author_blocks img{
	width:60px;
	height:60px;
	border-radius:50%;
}
#client_feedback_area .owl-item{
	border:1px solid #32323232;
	padding: 33px 0 20px 38px;
}
.c_f_blocks p{
	font-size:18px;
}
.author_info{
	padding:10px 15px;
}
.author_info h3{
	font-size:18px;
	font-weight:700;
	
}
.author_info p{
	font-size:14px;
	margin-left:15px;
}
.contact-addrasse h2{
	font-size:25px;
}
.contact-info li{
	list-style:none;
	margin:15px 20px;
	
}
.contact-info li i{
	margin-right:15px;
	color:#00b894;
	font-size:23px;
}
.contact-info li a{
	color:#879592;
	font-size:14px;
	font-family:"Montserrat";
}
#get_toch .g_t_c_heading h2{
	font-size:22px;
}
#get_toch .g_t_c_heading h2:after{
	content:"";
	display:block;
	width:65px;
	height:4px;
	margin-top:5px;
	background:#00b894;
}
#get_toch .g_t_c_heading p{
	font-size:17px;
	font-family:"Montserrat";
	margin-top: 20px;
}
#get_toch .form-control{
	border-radius:0;
	padding:10px 10px;
	box-shadow: none;
}
#get_toch .btn{
	color:#fff;
	background:#00b894;
	border-radius:0;
}
.blog_post{
	border:1px solid #f6f6f6;
}
.post_body{
	padding:10px;
}
.Post_category a{
	color:#707070;
	font-size:12px;
	margin-top: 5px;
	margin-bottom:10px;
}
.post_heading h2{
	color:#323232;
	font-size:18px;
	
}
.post_heading p{
	color:#707070;
	font-size:14px;
}
.post_heading a{
	color:#707070;
	font-size:13px;
	
}
.post_heading a:hover{
	color:#00b894;
}
.footer_clmn{
	background-color:#f5f6fb;
	
}
.f_clmn_post h3{
	color:#323232;
	font-size:15px;
	text-align:center;
}
.f_clmn_post h2{
	color:#323232;
	font-size:16px;
	text-align:center;
}
.f_s_l ul{
	list-style:none;
}
.f_s_l li a{
	font-family:"Montserrat";
		color:#323232;
		font-size:13px;
}
.f_s_l li a:hover{
	color:#00b894;	
}
.f_clmn_post [type="search"]{
	border:1px solid #dcdde1;
	padding: 5px 7px;
	font-size: 12px;
	position: relative;
}
.f_clmn_post [type="submit"]{
	border:1px solid #dcdde1;
	padding: 5px 7px;
	font-size: 12px;
	position: absolute;
	background: #00b894;
	color: #fff;
}